.sectionCTA {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 48px;
  border-radius: 16px;
  width: 100%;
  max-width: 1200px;
  margin-top: 55px;
}

.title {
  font-size: 36px;
  font-weight: bold;
  color: #fff;
}

.description {
  font-size: 16px;
  font-weight: 400;
  color: #FEFCFF;
  text-align: center;
  max-width: 550px;
}

@media (max-width: 640px) {
  .sectionCTA {
    padding: 32px 16px;
    margin-top: 36px;
    border-radius: 0;
  }

  .title {
    font-size: 28px;
    text-align: center;
  }
}
